.singlePage{
    display: flex;
    height: 100%;
    .details{
        flex: 3;
        // background-color: rgb(0, 255, 115);
        .wrapper{
            padding: 50px;
            
            .info{
                margin-top: 20px;
                .top{
                    display: flex;
                    justify-content: space-between;
                    .post{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        h1{
                            font-weight: 400;
                        }
                        .address{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: #888;
                            font-size: 14px;

                            img{
                                width: 16px;
                                height: 16px;
                            }
                        }
                        .price{
                            padding: 5px;
                            background-color:  rgba(254, 205, 81, 0.438);;
                            font-weight: 300;
                            width: max-content;
                            border-radius: 5px;
                            font-size: 20px;

                        }
                    }
                    .user{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 0 50px;
                        gap: 20px;
                        border-radius: 10px;
                        background-color: rgba(254, 205, 81, 0.209);
                        font-weight: 600;
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }
                .bottom{
                    margin-top: 50px;
                    line-height: 20px;
                    color: #555;
                }
            }
        }
    }
    .features{
        flex: 2;
        // background-color: aqua;
        .wrapper{
            padding: 0 20px;    
        }
        
    }
}